# 告诉 pip 到官方 PyTorch CPU 源去找包
--extra-index-url https://download.pytorch.org/whl/cpu

flask
gunicorn
werkzeug

facenet-pytorch

# +cpu 后缀用来确保拿到 CPU-only 的 wheel
torch
torchvision
numpy
Pillow
scipy
tqdm
